/* Montserrat Bold 700, Open Sans Regular 400, Open Sans Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #ffffff; 
}

@layer utilities {
  /* typography */
  .body { font-family: 'Open Sans', sans-serif; }
  .headline { letter-spacing: -0.12312rem; font-family: 'Montserrat', sans-serif; }
  .headline-spaced { font-family: 'Montserrat', sans-serif; }

  @variants responsive {
    /* max-width */
    .max-w-xxs { max-width: 16rem; }
  }
}


