/* Montserrat Bold 700, Open Sans Regular 400, Open Sans Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #f2f2f2; 
}

@layer utilities {
  /* typography */
  .body-font { font-family: 'Open Sans', sans-serif; }
  .headline-font { letter-spacing: -0.12312rem; font-family: 'Montserrat', sans-serif; }
  .headline-spaced-font { font-family: 'Montserrat', sans-serif; }

  *::selection {
    color: #fff;
    background: #2a9d8f;
  }

  @variants responsive {
    /* max-width */
    .max-w-xxs { max-width: 16rem; }
  }
}

@layer components {
  .drkr-focus {
    @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-offset-2 focus-visible:ring-drkr-green rounded-md transition duration-300;
  }
  .text-drkr-hover {
    @apply hover:text-drkr-green transition duration-300;
  }
  .bg-drkr-hover {
    @apply hover:bg-drkr-green transition duration-300;
  }
}


